/* Chat UI v1.0.0 */
$myMsgColor: #e8b275;
$otherMsgColor: #e6e6e6;
$tailSize: 10px;
$greyColor: #8E8E90;

.chat-list {
  .chat-item {
    margin-bottom: 8px;
  }

  .chat-timestamp {
    text-align: center;
    font-size: 13px;
    padding: 8px;
    color: $greyColor;
  }

  .chat-item-status {
    font-size: 13px;
    color: $greyColor;
  }

  .chat-avatar {
    margin-right: 8px;
    align-self: flex-end;
    width: 40px;
    height: 40px;

    img {
      display: inline-block;
      width: 100%;
      border-radius: 50%;
    }
  }

  .chat-item-content {
    display: flex;
    flex-direction: row;
  }

  .chat-item-bubble {
    position: relative;
    max-width: 75%;
    margin-bottom: 4px;

    .chat-body {
      display: inline-block;
      background: $otherMsgColor;
      border-radius: 20px 20px 20px 6px;
      padding: 8px 12px;
      white-space: normal;
      max-width: 100%;
      text-align: left;

      &.photo {
        padding: 0;
      }
    }

    &.bubble-image {
      .icon-tail {
        display: none;
      }
      img {
        width: 100%;
        max-width: 480px;
        border-radius: 16px;
      }
    }
  }

  .chat-item {
    &.chat-item-sender {
      text-align: right;

      .chat-item-content {
        justify-content: flex-end;
      }

      .chat-body {
        background: $myMsgColor;
        color: #fff;
        border-radius: 20px 20px 6px 20px;
      }
    }
  }

  .chat-item-reaction {
    text-align: left;
    margin-left: 8px;
    font-size: 18px;
    color: $otherMsgColor;
    align-self: center;
    flex-grow: 99;
  }
}
