:host {
  display: block;
  height: 100%;
}

.swipe-card {
  height: 100%;
  position: relative;
  border-radius: var(--swipe-card-border-radius);

  .card-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    z-index: 200;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, rgba(40, 50, 60, 0.1) 100%);
    color: #fff;
    border-radius: 0 0 var(--swipe-card-border-radius) var(--swipe-card-border-radius);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  }

  .card-user-name {
    font-size: 32px;
    font-weight: 700;
  }

  .card-user-age {
    font-size: 24px;
  }

  .button-info {
    font-size: 32px;
  }

  .card-user-info {
    line-height: 1.4em;
    font-size: 18px;

    ion-icon {
      margin-right: 4px;
      font-size: 13px;
    }
  }
}
