<div class="swipe-card">
  <profile-image-slides
    [images]="profileImages"
    [isClickable]="true"
    (onNoMoreSlide)="handleNoMoreSlide($event)">
  </profile-image-slides>

  <div class="card-caption">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <div class="card-title">
          <span class="card-user-name">
            {{data.name}}
          </span>
          <span class="card-user-age">{{data.age}}</span>

        </div>
        <div class="card-user-info">
          <div><ion-icon name="briefcase-outline"></ion-icon>{{data.job_title}}</div>
          <div><ion-icon name="location-outline"></ion-icon>71 kilometers away</div>
        </div>
      </ion-col>
      <ion-col size="auto" *ngIf="!isPreview">
        <ion-icon class="button-info" name="information-circle" (click)="handleViewInfo()"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</div>
