<!--
  Generated template for the ChangePhotos page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Change Photos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--TODO component for registration top nav  -->
<ion-content forceOverscroll="true" fullscreen="true" class="bg-primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Change photos</ion-title>
      <ion-buttons>
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div *ngIf="newUser" class="inner_form_top">
      <ul>
        <li><span class="fnumber profileSpan">1</span><span class="ftext"></span></li>
        <li><span class="fnumber profileSpan">2</span></li>
        <li><span class="fnumber profileSpan">3</span></li>
        <li class="active"><span class="fnumber profileSpan">4</span></li>
        <!--<ion-item [ngStyle]="{ 'background': 'transparent', 'padding': '0' }"><span class="fnumber profileSpan">4</span></ion-item>-->
      </ul>
    </div>



    <div class="description" *ngIf="photos?.length == 1 && dataPage?.noPhoto == dataPage?.photos[0].face">
      <div #desk>{{safeHtml(desk)}}</div>
    </div>
    <div class="photos">
      <div *ngFor="let photo of photos">
        <div *ngIf="photo == 0 && dataPage?.noPhoto != dataPage?.photos[0].face"  class="main photo" (click)="edit(dataPage?.photos[photo])">
          <div class="wrap" >
            <div class="photo-img" [ngStyle]="{ 'background-image': 'url(' + configService.getBaseUrl() + dataPage?.photos[photo].face + ')'}"></div>
            <div class="remove" ><ion-icon name="create"></ion-icon></div>
          </div>
          <div class="small-status-text {{ dataPage?.photos[photo].isValid ? 'valid' : 'waiting' }}">
            {{ dataPage?.photos[photo].statusText }}
          </div>
        </div>

        <div *ngIf="photo != 0" class="photo" (click)="edit(dataPage?.photos[photo])">
          <div class="wrap">
            <div class="photo-img" [ngStyle]="{ 'background-image': 'url(' + configService.getBaseUrl() + dataPage?.photos[photo].face + ')'}"></div>
            <div class="private" *ngIf="dataPage?.photos[photo]?.isPrivate"></div>
            <div class="remove" ><ion-icon name="create"></ion-icon></div>
          </div>
          <div class="small-status-text {{ dataPage?.photos[photo].isValid ? 'valid' : 'waiting' }}">
            {{ dataPage?.photos[photo].statusText }}
          </div>
        </div>
      </div>

      <div *ngIf="photos?.length > 0 && dataPage?.noPhoto != dataPage?.photos[0].face" class="photo" (click)="add()">
        <div class="wrap">
          <div class="photo-img"
               [ngStyle]="{ 'background-image': 'url(' + configService.getBaseUrl() +dataPage?.noPhoto + ')'}"></div>
          <span class="add"><ion-icon name="md-add"></ion-icon></span>
        </div>
      </div>

      <div *ngIf="dataPage?.noPhoto == dataPage?.photos[0].face"  class="main photo" (click)="add()">
        <div class="wrap" >
          <div class="photo-img" [ngStyle]="{ 'background-image': 'url(' + configService.getBaseUrl() + dataPage?.photos[0].face + ')'}"></div>
          <span class="add"><ion-icon name="md-add"></ion-icon></span>
        </div>
      </div>
    </div>
    <div class="description" *ngIf="!(photos?.length == 1 && dataPage?.noPhoto == dataPage?.photos[0].face)">
      <div class="clr"></div><div [innerHTML]="description"></div>
    </div>
    <div class="login-btn" *ngIf="newUser">
      <ion-button color="danger" size="small" (click)=onHomePage() expand="block"> סיום </ion-button>
    </div>
    <ion-button (click)="onHomePage()" color="boost" class="btn-form">Go To Main Page</ion-button>

  </div>
</ion-content>
