.header-title {
  text-align: center;
  margin: 24px auto 16px;
  color: #0C0D34;

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.btn-form {
  margin-top: 48px;
}
