<ion-header translucent="true">
    <ion-toolbar>
        <ion-title>Change Password</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-primary" fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Change Password</ion-title>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="form">
        <div class="fields-wrap">
            <div class="ion-item" [ngClass]="{'border-red': errors.oldPassword}">
                <ion-label position="stacked">{{ form?.oldPassword?.label }}</ion-label>
                <ion-input type="password" [(ngModel)]="form.oldPassword.value">
                </ion-input>
            </div>
            <div class="err">{{ errors.oldPassword }}</div>

            <div class="ion-item" no-lines>
                <ion-label position="stacked">{{ form?.password.first.label }}</ion-label>
                <ion-input type="password" [(ngModel)]="form.password.first.value"></ion-input>
            </div>
            <div class="err">{{ errors.firstPass }}</div>
            <div class="ion-item">
                <ion-label position="stacked">{{ form?.password.second?.label }}</ion-label>
                <ion-input type="password" [(ngModel)]="form.password.second.value"></ion-input>
            </div>
            <div class="err">{{ errors.secondPass }}</div>
        </div>
    </div>
    <ion-button color="boost" (click)="formSubmit(form)" expand="full">{{form?.submit}}</ion-button>
</ion-content>
