<ion-content force-overscroll="false">
  <div class="header"></div>
  <div class="bg-white">
    <div class="inner-content">
      <h1>Forgot password?</h1>
      <p class="description">Enter the email address associated with your account</p>
      <div class="form">
        <ion-input (ionFocus)="this.uiComponent.focusIn()" (focusout)="this.uiComponent.focusOut()" placeholder="Your Email" type="email">
          <ion-icon name="mail-outline"></ion-icon>
          <!--
                              <ion-icon class="icon-valid" name="checkmark-circle"></ion-icon>
          -->
        </ion-input>
        <ion-button (click)="goToExplore()">Reset Password</ion-button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div (click)="back()" class="btn-close">
      <ion-icon  name="close-outline"></ion-icon>
    </div>
    <p (click)="getPage('contact-us')">Don’t work? <span class="highlight">Contact Us</span></p>
  </div>
</ion-content>
