@import "../../../sass/helper";

/*------ CSS Use Case Example START ------*/

/* import font ROBOTO */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0 15px;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  ion-icon {
    padding: 4px;
    border-radius: 50%;
    background: #efefef;
    color: #0c0d34
  }
}

/*.background-0 { background: #C87D26; }
.background-1 { background: #569D99; }
.background-2 { background: #740039; }
.background-3 { background: #839FC5; }
.background-4 { background: #6A4F76; }
.background-5 { background: #57636D; }
.background-6 { background: #6D5242; }
.background-7 { background: #4F5051; }

.background-0,
.background-1,
.background-2,
.background-3,
.background-4,
.background-5,
.background-6,
.background-7 {
  transition: all 400ms ease;
}*/

/* class created only for a better preview*/
.stage {
  position: absolute;
  opacity: 1;
  width: 95%;
  z-index: 9;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.bg-mosaic {
  background: url("../../../assets/img/bg/pages/explore/mosaic.svg");
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 15%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.stage.hidden {
  opacity: 0;
  transition: all 400ms ease;
}

/*
@media screen and (max-width: 600px) {
  .stage {
    max-width: 100%;
  }
}
*/

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 100;
  color: var(--ion-color-gold);;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  color: #BFBFBE;
  margin-top: 10px;
}

.card-content {
  position: relative;
  color: #fff;
  padding: 5px;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 380px;
}

.card-titles {
  position: absolute;
  bottom: 0;
  padding: 40px 30px;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 16px 16px;
}

.popular-destinations-text {
  font-size: 16px;
  font-weight: 400;
  color: #8E9AA4;
  width: 100%;
  min-width: 110px;
}

.popular-destinations-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  margin-left: 8px;
}

.circle img {
  border-radius: 50%
}

/* global actions buttons*/
.global-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  padding-top: 12px;
  min-width: 200px;

  ion-icon {
    font-size: 28px;
  }

  ion-icon.heart {
    color: #cb654f;
  }

  ion-icon.star {
    color: #edb664;
    font-size: 16px;
  }

  ion-icon.close {
    color: #cb654f;
  }
}

.top-action,
.right-action,
.left-action {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.right-action,
.left-action {
  width: 60px;
  height: 60px;
}

.top-action {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.final-state.active {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 400ms ease;
}

.final-state.hidden {
  opacity: 0;
}


.footer {
  background: transparent;
  text-align: center;
  color: #D8D8D8;
  position: absolute;
  width: 100%;
  bottom: 0;

}

/*------ CSS Use Case Example END ------*/

/*----- Stacked Cards component css START -----*/
body {
  overflow-x: hidden;
}

.filter-users {
  position: fixed;
  bottom: 18px;
  left: 18px;
  border-radius: 24px;
}

.no-transition {
  -webkit-transition: none ! important;
  transition: none ! important;
}

.stackedcards-overflow {
  overflow-y: hidden !important;
}

.stackedcards.init {
  opacity: 0; /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
  position: relative;
}

#stacked-cards-block {
  margin: 0 20px;
}

.stackedcards * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stackedcards--animatable {
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
  position: absolute;
  width: 100%; /* set 100% */
  height: 100%; /* set 100% */
  will-change: transform, opacity;
  top: 0;
  border-radius: 10px;
  min-width: 265px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 0;
  height: 100%;
}

.stackedcards-overlay.top,
.stackedcards-overlay.right,
.stackedcards-overlay.left {
  background: #fff;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
  display: none;
}

.stackedcards-origin-bottom {
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.stackedcards-origin-top {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
  background: #fff; /* set card background background */
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.30);
  height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
  position: relative;
  display: block;
}

/*----- Stacked Cards component css END -----*/


.segment-fit {
  width: 88px;
  border-radius: 999em;

  ion-segment-button {
    min-width: 20px;
    --padding-start: 12px;
    --padding-end: 12px;
    --border-radius: 999em;

    &.segment-button-checked {
      ion-icon {
        color: var(--ion-color-gold);
      }
    }
  }

  ion-icon {
    font-size: 22px;
  }
}

.boost-promotion {
  margin: 12px 24px 8px;
  padding: 16px;
  background: linear-gradient(var(--ion-color-white) 0%, rgba(var(--ion-color-boost-rgb), 0.3) 100%);
  text-align: center;
  border-radius: 0 0 36px 36px;
}


.offer-message {
  text-align: center;
  padding: 24px;
}

.matches-list {
  box-shadow: none !important;
}

.matches-list {
  margin-top: 20px;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  // height: 112px;
  background: #fff;
  box-shadow: 0 7px 13px -10px rgba(150,170,180,0.5);

  .user-photo {
    width: 56px;
    height: 56px;
    background-size: cover !important;
    border-radius: 50%;
  }

  .matches-item {
    display: inline-block;
    width: 64px;
    position: relative;
    margin: 6px 7px;
    //margin-bottom: 12px;

    .profile-image {
      height: 64px;
      position: relative;
    }

    .online-status {
      background-color: var(--ion-color-primary);
      position: absolute;
      right: 7px;
      bottom: 2px;
      width: 14px;
      height: 14px;
      border-radius: 999em;
      border: 3px solid #fff;
    }

    .like-gold {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      text-align: center;
      padding-top: 2px;

      ion-icon {
        color: var(--ion-color-gold);
      }
    }

    .scroll-item-title {
      text-align: center;
      font-weight: 700;
    }

    &:first-child {
      margin-left: 12px;
    }

    &.matches-item-likes {
      .profile-image {
        border: 2px solid var(--ion-color-gold);
        border-radius: 999em;
        padding: 2px;
        margin-bottom: 6px;
      }

      .profile-image-inner {
        overflow: hidden;
        border-radius: 999em;
        height: 56px;
        display: block;
      }

      random-avatar {
        filter: blur(2px);
      }

      .likes-count {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-color: var(--ion-color-gold);
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        padding-top: 6px;
        border-radius: 999em;
      }
    }
  }
}

@media (max-width: 411px) {
  /*.stage {
    width: 370px;
  }*/
}
/*

@media (max-width: 386px) {

  .card-content img {
    height: 300px;
    min-height: 300px;
  }
  .button-custom {
    &.button-icon {
      width: 48px;
      height: 48px;

      &.button-lg {
        width: 56px;
        height: 56px;

        ion-icon {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .card-footer {
    padding: 4px 35px 16px;
  }
}

@media (max-width: 320px) {

  .matches-list .user-photo {
    width: 58px;
    height: 58px;
  }

  .matches-list .matches-item .profile-image {
    margin-bottom: 4px !important;
  }
}*/

@media only screen and (min-height: 568px) {

  .card-content img {
    height: 240px;
    min-height: 240px;
  }
  .matches-list {
    margin-top: 4px;
  }
}

@media only screen and (min-height: 640px) {
  .bg-mosaic {
    height: 30%;
  }

  .matches-list {
    margin-top: 14px;
  }

  .card-content img {
    height: 300px;
    min-height: 300px;
  }
}

@media only screen and (min-height: 665px) {

  .card-content img {
    height: 320px;
    min-height: 320px;
  }
}


@media only screen and (min-height: 665px) {

  .card-content img {
    height: 320px;
    min-height: 320px;
  }
}


@media only screen and (min-height: 731px) {

  .matches-list {
    margin-top: 24px;
  }
  .card-content img {
    height: 360px;
    min-height: 360px;
  }
}

@media only screen and (min-height: 812px) {

  .matches-list {
    margin-top: 32px;
  }

  .card-content img {
    height: 380px;
    min-height: 380px;
  }

  .stage {
    transform: translate(-50%, -5%);
  }

  .global-actions {
    padding-top: 28px;
  }
}




@keyframes rotateRight {
  from {
    transform: perspective(1000px) rotateY(4deg)
  }
  to {
    transform: perspective(1000px) rotateY(0deg)
  }
}

@keyframes rotateLeft {
  from {
    transform: perspective(1000px) rotateY(-4deg)
  }
  to {
    transform: perspective(1000px) rotateY(0deg)
  }
}



