.btn-close {
  margin: 20rem 0 0;
  display: flex;
  justify-content: center;

  ion-icon {
    border: 1px solid;
    border-radius: 50%;
    background: #fff;
    color: #000;
    font-size: 2rem;
  }
}
